/* these styles apply to the entire page */
section {
  border: 1px solid grey;
  padding-left: 1em;
  margin: 1em;
}
body {
  font-family:  'Trebuchet MS';
  justify-content: center;
  align-items: center;
  background-color: lightgray
}
h1{
  font-size: 40px;
}
h1, h3 {
  display: flex;
  justify-content: center;
  align-items: center;
}
table {
  margin: 1em;
}
tbody > tr > td {
  border-top: 1px solid black;
}
thead {
  font-weight: bold;
}
svg {
  display: flex;
  justify-content: center;
  align-items: center;
  text-wrap: wrap;
}
text {
  font-family: 'Trebuchet MS';
  text-wrap: wrap;
}
div{
  justify-content: center;
  align-items: center;
  display: flex;
  text-wrap: wrap;
}
